<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home Real Vs Fake News</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --> -->
  <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>

  <div class="container">
    <nav class="navbar">
      <ul>
        <li>
          <a href="index">Home</a>
        </li>
        <li>
          <a href="dct">Decision Tree Machine Learning</a>
        </li>
        <li>
          <a href="naivebayes">Naive Bayes Machine Learning</a>
        </li>
        <li>
          <a href="tableau">Tableau Visualizations</a>
        </li>
      </ul>
    </nav>
    <header class="header">
      <h1>News - Real Vs Fake</h1>
    </header>
    <main>
      <section class="posts">
        <img class="post" src="/static/Images/Signe_Cartoon_12_02_16 (1).jpg">
      </section>
    </main>
  </div>

</body>

</html>

