<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NB</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

  <div class="container">

    <body background="/static/images/nbbackground.png">
      <div class="jumbotron bg-cover"
        style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(https://placeimg.com/1000/480/nature)">
        <h1>Naive Bayes Machine Learning</h1>
        <p class="lead">Code and Analysis Walk Through</p>
        <hr class="my-4">
        <p>Data, Preprocessing, Training and Testing </p>
      </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail">
          <h1>Data Sets, Taking it to Colab</h1>

          <img src="/static/images/nbdependencies.png" alt="nb dependencies" class="img-thumbnail">
          <h1>Same Data as before, LET'S GOOOOOOOO</h1>
          <img src="/static/images/BringItInNB.png" alt="BringItInNB" class="img-thumbnail">
          <div class="row">
            <div class="col-md-12">
              <h6>Cloudy with a Chance of Disinformation</h6>
              <img src="/static/images/cloudNB.png" alt="word cloud" class="img-thumbnail">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6>Time to Spark</h6>
              <img src="/static/images/sparksession.png" alt="Spark Time" class="img-thumbnail">
              <h6>Finding the Length of the Combined Text</h6>
              <img src="/static/images/sparksql.png" alt="spark sql functions" class="img-thumbnail">
            </div>
          </div>

        </div>

        <h6>Features, Vectors, and Pipelines... oh, my?</h6>

      </div>

      <div class="col-md-6">

        <div class="zoom"> <img src="/static/images/FeaturesVectorsPipelinesNB.png" alt="Vector Setting"
            class="img-thumbnail">
        </div>
      </div>
    </div>
    
    <div class="row">
    <div class="col-md-6">



      <h6>Classification</h6>

      <div class="thumbnail">
        <div class="zoom">  <img src="/static/images/nbclassification.png" alt="Classification"
            class="img-thumbnail"> </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h6>Results</h6>
          <div class="zoom"> <img src="/static/images/NBresults.png" alt="Results" class="img-thumbnail"></div>
        </div>
        <div class="caption">
        </div>
      </div>
    </div>

  </div>


  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <footer>
    <p>Author: Grant Jackson</p>
    <h6><a href="mailto:grantbot@gmail.com">grantbot@gmail.com</a></h6>
  </footer>

</body>

</html>