<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fake vs Real News</title>
</head>
<body>
  <section>
    <h1>Month vs News</h1>
    <article>
    <a target="_blank" href="../static/Images/Month vs News.PNG">
      <img src="../static/Images/Month vs News.PNG" width= "50%" alt="Month vs News">
    </a>
    <p><em>Index vs Value & Date</em></p>
    </article>
    <hr>
    <article>
    <a target="_blank" href="../static/Images/Index vs Value & Date.PNG">
    <img src="/../static/Images/Index vs Value & Date.PNG"  width= "50%" alt="Index vs Value & Date">
    </a>
    <p><em>Months vs Count</em></p>
    </article>
    <hr>
    <article>
      <a href="../static/Images/Months vs Count.PNG">
      <img target="_blank" src="../static/Images/Months vs Count.PNG"  width= "50%" alt="Months vs Count">
    </a>
    <p><em>Subject vs Measure</em></p>
    </article>
    <hr>
    <article>
      <a href="../static/Images/Subject vs Measure.PNG">
      <img target="_blank" src="../static/Images/Subject vs Measure.PNG"  width= "50%" alt="Subject vs Measure">
    </a>
    <p><em>Subject vs Months</em></p>
    </article>
    <hr>
    <article>
      <a href="../static/Images/Subject vs Months.PNG">
      <img target="_blank" src="../static/Images/Subject vs Months.PNG"  width= "50%" alt="Subject vs Months">
    </a>
    <p><em>Subject vs Years</em></p>
    </article>
    <hr>
    <article>
      <a href="../static/Images/Subject vs Years.PNG">
      <img target="_blank" src="../static/Images/Subject vs Years.PNG"  width= "50%" alt="Subject vs Years">
    </a>
    <p><em>Year vs Value</em></p>
    </article>
    <hr>
    <article>
      <a href="../static/Images/Year vs Value.PNG">
      <img target="_blank" src="../static/Images/Year vs Value.PNG"  width= "50%" alt="Year vs Value">
      </a>
      <p><em>News vs Count</em></p>
    </article>
    <hr>
    <!-- an example using figure/ficaption -->
    <figure>
      <a target="_blank" href="../static/Images/News vs Count.PNG">
      <img src="../static/Images/News vs Count.PNG"  width= "50%" alt="News vs Count">
      </a>
      <!-- <figcaption><em>News vs Count</em></figcaption> -->
    </figure>
  </section>
</body>
</html>
















